.container {
  margin : 0 auto;
}
.form-control {
  border : 1px solid #ccc;
  height : 40px;
  width : 100%;
  border-radius : 6px;
  outline : none;
  padding : 20px;
}
.home-blur {
  width: 500px;
  height: 500px;
  background: #065f46;
  position: absolute;
  top: 300px;
  left: 700px;
  border-radius: 50%;
  filter: blur(290px);
  z-index : 1;
}
