* {
  margin : 0;
  padding: 0;
  box-sizing : border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  overflow: hidden;
}
.bg-primary-css {
  background : #FFFAF0;
}
/*
 Css das paginas
*/
.btn-crud {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap : 10px;
  border-radius: 6px;
}
.btn-crud:hover{
  transition: .2s;
  filter : brightness(0.9);
}
.body {
  background: #E5EDEC;
}
.left {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.container {
  margin: 0 auto;
}
.header {
  margin: 10px 50px;
  height: 120px;
  border-radius: 6px;
  width: 100;
}
.shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.crud {
  background: #fff;
  height: 100%;
  border-radius: 6px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 100;
}
.border-top-left {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
/*
 Flex Content
*/
.start {
  display: flex;
  width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
}
/*
 Form
*/
.form {
  width: 80%;
  height: 80%;
  border-radius: 6px;
}
.form-control {
  border: 1px solid #ccc;
  background: transparent;
  height: 50px;
  width: 100%;
  border-radius: 6px;
  outline: none;
  padding: 20px;
}
.required {
  color: red;
}
/* Blur */
.home-blur {
  width: 500px;
  height: 500px;
  background: #065f46;
  position: absolute;
  top: 300px;
  left: 700px;
  border-radius: 50%;
  filter: blur(290px);
  z-index: 1;
}
.login-blur {
  width: 500px;
  height: 500px;
  background: rgb(6, 95, 70);
  background: linear-gradient(
    90deg,
    rgba(6, 95, 70, 1) 0%,
    rgba(24, 147, 112, 1) 50%,
    rgba(11, 42, 33, 1) 100%
  );
  position: absolute;
  top: 300px;
  left: 700px;
  border-radius: 50%;
  z-index: 1;
  filter: blur(290px);
}
/* Glass */
.glass {
  background: rgba(255, 255, 255, 0.06);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 60%;
  height: 80%;
  z-index: 2;
  display: flex;
}
.justify {
  text-align: justify;
}
/*
 Margin
*/
.m-s-150 {
  margin-top: -150px;
}
.clicked {
  cursor : pointer;
}
